:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: whitesmoke;
  overflow-y: hidden;
  min-width: 1024px;
  min-height: 800px;
}

.page {
  height: 100%;
  flex-grow: 1;
  min-height: 0;
}