:host {
  width: 100vw;
  height: fit-content;
  display: flex;
  justify-content: flex-end;
  box-sizing: border-box;
  padding: 1rem;
}

.user-login {
  margin-bottom: auto;
  margin-top: auto;
  padding-right: 1rem;
}