:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.sign-up-form {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  width: 250px;
  box-shadow: 0 0 1rem 1px rgba($color: #000000, $alpha: 0.1);

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__sign-in-button {
    margin-top: 1rem;
    align-self: center;
  }

  &__sign-up-button {
    margin-top: 1rem;
    align-self: center;
  }
}

.item {
  &__label {
    padding: 0.25rem;
    text-align: center;
  }
}
