<div class="page">
  <div class="row">
    <app-menu></app-menu>
    <app-account-menu></app-account-menu>
  </div>
  <div class="content">
    <div class="tasks__list layer">
      <ng-container *ngFor="let task of tasksList$ | async">
        <div class="tasks__item">
          <input type="checkbox" />
          <div class="tasks__item-text">{{ task.text }}</div>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="row">
    <app-credentials-footer></app-credentials-footer>
  </div>
</div>
