:host {
  display: block;
  width: 100%;
  height: 100%;
}

.tasks {
  &__list {
    background-color: rgb(250, 250, 250);
    box-shadow: 0px 0px 0.2rem 0 silver;
    border-radius: 1px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    flex-grow: 1;
    min-width: 800px;
    height: 100%;
    padding: 1rem;
    box-sizing: border-box;
    overflow: auto;
  }
  &__item {
    display: flex;
    border: 1px solid silver;
    border-radius: 6px;
    width: fit-content;
    padding: 0.5rem;
    box-sizing: border-box;
  }
  &__item-text {
    padding-left: 1rem;
    box-sizing: border-box;
  }
  &__item ~ &__item {
    margin-top: 1em;
  }
}
